body{
  margin: 0;
  padding:0;
}
.header{
   display: flex;
   justify-content:space-between;
   margin-bottom: 10px;
}

/* .app{
  max-width: 1200px;
  margin:auto;
} */

.image{
  width:100px;
  margin-left:20px;
}
.nav{
  margin-right:20px;
  margin-top:20px;
}
.nav > ul{
  display:flex;
  gap:30px;
  
  font-size:20px;
  
  
}
.nav > ul >li{
  list-style-type: none;
}

.card-img-container{
    
    width:100%;
    height:200px;
   

}

.position{
  position: relative;
}
.cost{
  position: absolute;
  bottom:1px;
  left:8px;
  color: white;
  font-size: medium;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{

  height:100%;
  width:100%;
  object-fit:cover ;
  border-radius: 10px;

}

.card-section{
  max-width: 1200px;
  margin:auto;
  margin-top:10px;
  display:flex;
  gap:12px;
  flex-wrap: wrap;

}

.search{
  padding:5px 10px;
  margin: 30px;
  margin-left: 100px;
  font-weight: bold;
  font-size: medium;
  border: none;
  background-color: black;
  color: #FEFEFE;
  border-radius: 3px;
  cursor: pointer;
}
.card{
  width:280px;
  /* height:300px; */

  padding:5px;
  border-radius:10px;
  margin-bottom:10px;

}
.body{
  background-color: rgba(206, 204, 204, 0.793);

}